:root {
  --main-color: #c6b9aa;
  --line-color: #3d3d3d;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media only screen and (max-width: 500px) {
    font-size: 52.5%;
  }
  background-color: rgb(214, 213, 208);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  @media only screen and (max-width: 1200px) {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(214, 213, 208);
  }
}
#root {
  background-color: rgb(214, 213, 208);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100rem;
}
.paper {
  width: 90rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.521);
  margin: 5rem;
}
.button {
  background-color: black;
  border-radius: 6px;
  border: 1px solid var(--line-color);
  cursor: pointer;
  font-size: 2rem;
  color: #fffc;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.2rem;
  transition: all 0.5s;
  &:hover {
    transform: translateY(-5px);
  }
}
.info-experience-section {
  display: flex;
}
.print-button {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 2rem;
  @media only screen and (max-width: 1200px) {
    position: relative;
  }
}
textarea {
  resize: none;
}
@page {
  size: A4;
  margin: 0;
}
@media print {
  html {
    font-size: 55%;
  }

  .paper {
    width: 210mm !important;
    height: 297mm !important;
    -webkit-print-color-adjust: exact;
    margin: 0;
  }
  .paper {
    box-shadow: none;
  }

  .info-experience-section {
    height: 238mm;
  }
  .experience-section {
    padding: 1rem 2.5rem 0 2.5rem;
  }
  .contact-info-main-div {
    height: 17rem;
  }
  button {
    opacity: 0 !important;
  }
}
input {
  outline: none;
}
